.forecastContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid green; */
}
.dailyForecastContainer {
  padding: 0px 10px 0px 10px;
  /* border: 1px solid blue; */
}
.icon {
  height: 50px;
}
.date {
  font-weight: bold;
}
.conditionsIcon {
  padding-bottom: 5px;
}
.pop {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.popicon {
  height: 15px;
  padding-right: 10px;
}
