.getweather {
  background-color: green;
  color: white;
  font-size: 16px;
  border-radius: 4px;
}
.inputCity {
  font-size: 15px;
}
.inputState {
  font-size: 15px;
}
.inputCountry {
  font-size: 15px;
}
