/* .getweather {
  background-color: green;
  color: white;
  font-size: 16px;
  border-radius: 4px;
} */
.inputCity {
  font-size: 15px;
  background-color: lightgray;
  margin-left: 40px;
  
}
.inputState {
  font-size: 15px;
  background-color: lightgray;
}
.inputCountry {
  font-size: 15px;
  background-color: lightgray;
}
.navbar {
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-image: url("/earth.png");
}
